.interest {
  display: flex;
  position: relative;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #cfcfcf;

  &-wrapper {
    display: flex;
    justify-content: center;

    + .interest-wrapper {
      margin-top: 30px;
    }
  }

  &-img img {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    display: flex;
  }

  &-title {
    display: flex;
    margin-bottom: 32px;
  }

  &-infos {
    display: flex;
    flex-direction: column;
    margin-left: 32px;

    > a {
      text-decoration: none;
      color: black;
    }
  }

  &-info-group {
    margin-bottom: 4px;

    span:not(:first-child)::before {
      content: "•";
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &-daily {
    margin: auto 0 0 auto;
  }

  &-value {
    font-size: 20px;
    display: flex;
    margin: auto 0 0 auto;
  }

  &-remove-button {
    position: absolute;
    height: 40px;
    width: 40px;
    right: -15px;
    top: -15px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #ff385c;
    cursor: pointer;

    &:hover {
      background-color: darken(#ff385c, 30);
    }
  }
}

.empty-list {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
  text-align: center;
  font-size: 26px;
}
