<div class="footer">
  <div class="footer-content">
    <div class="footer-first-section">
      <ul class="footer-navigation">
        <li><a routerLink="lista">Lugares para ficar</a></li>
        <li><a routerLink="anfitriao">Seja um anfitrião</a></li>
        <li><a routerLink="interesses">Meus interesses</a></li>
      </ul>
      <span class="footer-about">Copyright &copy; 2021 - Airbnb. Todos os direitos reservados.</span>
    </div>
    <div class="footer-second-section">
      <ul class="footer-social-links">
        <li>
          <a href="https://twitter.com/airbnb_br" target="_blank">
            <img src="assets/img/logos/twitter.svg">
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/AirbnbBrasil" target="_blank">
            <img src="assets/img/logos/facebook.svg">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>