<footer>
  <div class="row">
    <div class="col span-1-of-2">
      <ul class="footer-nav">
        <li><a routerLink="lista">Lugares para ficar</a></li>
        <li><a a routerLink="anfitriao">Seja um anfitrião</a></li>
      </ul>
    </div>
    <div class="col span-1-of-2">
      <ul class="social-links">
        <li>
          <a href="https://twitter.com/airbnb_br" target="_blank">
            <img src="assets/img/twitter.svg">
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/AirbnbBrasil" target="_blank">
            <img src="assets/img/facebook.svg">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copy">
    <p>Copyright &copy; 2021 - Airbnb. Todos os direitos reservados.</p>
  </div>
</footer>