footer {
  background-color: #EBEBEB;
  padding: 50px;
  font-size: 80%;
  height: 160px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}


.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(156, 151, 151);
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 50%;
}


.copy {
  color: #888;
  margin-top: 70px;
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 10px;
}
