.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  height: 80px;
  padding: 0 140px;
  background-color: white;
  box-shadow: 0 4px 16px #cfcfcf;
  z-index: 1;

  &-menu {
    a {
      padding-bottom: 4px;

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }
}

.menu {
  display: flex;

  li {
    padding: 10px 16px;

    a {
      font-size: 16px;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }
}
