<nav class="navbar">
    <a routerLink="">
        <img src="assets/img/logos/logo.svg">
    </a>
    <ul class="navbar-menu menu">
        <li>
            <a routerLink="lista">Lugares para ficar</a>
        </li>
        <li>
            <a routerLink="anfitriao">Seja um anfitrião</a>
        </li>
        <li>
            <a routerLink="interesses">Meus interesses</a>
        </li>
    </ul>
    <ul class="navbar-social menu">
        <li>
            <a href="https://twitter.com/airbnb_br" target="_blank">
                <img src="assets/img/logos/twitter.svg">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/AirbnbBrasil" target="_blank">
                <img src="assets/img/logos/facebook.svg">
            </a>
        </li>
    </ul>
</nav>