<section>
    <div class="accommodation-wrapper" *ngFor="let accommodation of accommodationsList">
        <div class="accommodation" *ngIf="hasInterest(accommodation.id)">
            <div class="accommodation-img">
                <a [routerLink]="['/detalhes', accommodation.id]"><img [src]="accommodation.imagem"></a>
            </div>
            <div class="accommodation-infos" [routerLink]="['/detalhes', accommodation.id]">
                <a class="accommodation-title" [routerLink]="['/detalhes', accommodation.id]">
                    <h2>{{accommodation.nomeHospedagem}}</h2>
                </a>
                <div class="accommodation-info-group">
                    <span>{{accommodation.hospedes}} Hóspedes</span>
                    <span>{{accommodation.quartos}} Quartos</span>
                    <span>{{accommodation.camas}} Camas</span>
                    <span>{{accommodation.banheiros}} Banheiros</span>
                </div>
                <div class="accommodation-info-group">
                    <span *ngIf="accommodation.wifi">Wi-fi</span>
                    <span *ngIf="accommodation.arCondicionado">Ar Condicionado</span>
                    <span *ngIf="accommodation.piscina">Piscina</span>
                    <span *ngIf="accommodation.diaria">Novembro</span>
                </div>

                <div class=accommodation-daily>
                    <span *ngIf="accommodation.diaria">Disponível: Novembro</span>
                </div>
                <span class="accommodation-value">
                    <strong>{{accommodation.valor | currency : 'BRL' : 'symbol' : '2.0-2' }}</strong> / noite
                </span>
            </div>
        </div>
    </div>
    <h1 class="empty-list"
        *ngIf="(accommodationsList.length === getInterestList().length) || (accommodationsList.length === 0)">
        Não há nenhuma hospedagem disponível.
    </h1>
</section>