.content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.container {
  flex: 1;
  padding: 40px 140px 0;
}

.footer {
  margin-top: 92px;
  padding: 0 40px;
}
