.container {
    margin-top: 40px;
    padding: 0 140px;
    display: flex;
    justify-content: center;
    flex: 1;

    &-wrapper {
        display: flex;
        height: calc(100vh - 80px);
        flex-direction: column;
    }
}

footer {
    margin-top: 32px;
}