.details {
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #cfcfcf;

  &-section {
    display: flex;
    justify-content: center;
  }

  > h2 {
    margin-bottom: 15px;
  }

  > a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  &-infos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &-img img {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
  }

  &-info-group {
    &:not(:first-child) {
      margin-top: 4px;
    }

    span:not(:first-child)::before {
      content: "•";
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &-description {
    width: 450px;
    margin-top: 40px;
    text-align: justify;
  }

  &-value {
    margin-top: 50px;
    font-size: 18px;
  }
  &-footer {
    display: flex;
    justify-content: center;
  }
  &-button {
    width: 180px;
    height: 40px;
    margin-top: 30px;
    border: 1px solid #ff385c;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 300;
    color: #ff385c;
    background-color: white;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #ff385c;
    }
  }
}
