<section class="video-section">
    <div class="video-box">
        <video class="video"
            src="https://a0.muscache.com/v/53/07/5307ce86-5dae-56f1-adc5-e31af8115c97/5307ce865dae56f1adc5e31af8115c97_4000k_1.mp4"
            autoplay></video>
        <div class="video-info">
            <span class="video-info-text">
                <span>Procurando onde ficar</span>
                <span>em Florianópolis?</span>
            </span>
            <button class="video-info-button" routerLink="lista">Clique aqui</button>
        </div>
    </div>
</section>
<section class="inspirations-section">
    <h1 class="inspirations-title">Inspiração para sua próxima viagem</h1>
    <div class="inspirations-cards">
        <div class="inspirations-card">
            <img class="inspirations-card-image" src="">
            <h2 class="inspirations-card-title">Praia dos Ingleses</h2>
        </div>
        <div class="inspirations-card">
            <img class="inspirations-card-image" src="">
            <h2 class="inspirations-card-title">Canasvieiras</h2>
        </div>
        <div class="inspirations-card">
            <img class="inspirations-card-image" src="">
            <h2 class="inspirations-card-title">Barra da Lagoa</h2>
        </div>
        <div class="inspirations-card">
            <img class="inspirations-card-image" src="">
            <h2 class="inspirations-card-title">Lagoinha do Norte</h2>
        </div>
    </div>
</section>