.home-container {
    background-color: black;
    height: calc(100vh - 80px);
    width: 100vw;
    margin: -40px 0 0 -140px;
    padding: 40px 140px 0;

    .video-container {
        position: relative;
        max-height: 70vh;
        max-width: 100%;
        overflow: hidden;
        border-radius: 12px;

        .video-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: calc((70vh / 2) - 132px);
            left: calc(((100vw - 280px) / 2) - 300px);
            padding: 60px;
            width: 600px;
            height: 264px;
            border-radius: 12px;

            &-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 26px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: white;

                > span {
                    display: block;
                    padding: 2px 8px;
                    background-color: #ff385c;


                    + span {
                        width: 280px;
                    }
                }
            }

            &-button {
                width: 180px;
                height: 40px;
                margin-top: 30px;
                border: 1px solid #ff385c;
                border-radius: 16px;
                font-size: 18px;
                font-weight: 300;
                color: #ff385c;
                background-color: white;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: #ff385c;
                }
            }
        }
    }
}
